<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developerputra.mywiget">

    <application
        android:allowBackup="true"
        android:icon="@drawable/random"
        android:label="@string/app_name"
        android:roundIcon="@drawable/random"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.developerputra.mywiget.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.developerputra.mywiget.RandomNumbersWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/random_numbers_widget_info" />
        </receiver>
        <service android:name="com.developerputra.mywiget.UpdateWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>